<p id="notice"><%= notice %></p>
<%= link_to 'Suggest a New Feature', '#', class: "btn btn-danger", data: {toggle: 'modal', target: '#myModal'} %>
<h1>Features</h1>

<div class="row">
<% @features.each do |feature| %>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= feature.title %></h2>
    </div>
    <div class="panel-body">
      <%= feature.description %>
    </div>
    <div class="panel-footer"><%= link_to "View", feature_path(feature), class: "btn btn-danger" %></div>
  </div>
</div>
<% end %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Suggest a New Feature</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for Feature.new do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Add Feature Suggestion', class: 'btn btn-danger' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
